@import "bootstrap/dist/css/bootstrap.min.css";
@import 'react-toastify/dist/ReactToastify.css';
@font-face {
  font-family: "SF Pro Text";
  src: url(./assets/fonts/FontsFree-Net-SFProText-Regular-1.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 10px;
}

body {
  background: #f1f1f164;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
